.form {
    width: 25%;
    margin: 0 auto;
}

.company-signup-form {
    width: 75%;
    margin: 15% auto;
}

.center {
    display: block;
    margin: 5% auto;
}

.card-style {
    margin: 15% auto;
}
